<h2>Signup</h2>
<br><br>
<form action="/auth/signup" method="POST" id="form-container">
  <h3>Add your car</h3>

  <label for="brand">Brand</label>
  <select name" brand" required=true>
    <option selected value="0">Select an option</option>
    <option value="1">Tesla</option>
    <option value="2">Mercedes</option>
    <option value="3">BMW</option>
    <option value="4">Audi</option>
    <option value="5">BYD</option>
    <option value="6">Hyundai</option>
    <option value="7">Jaguar</option>
    <option value="8">Nissan</option>
    <option value="9">Opel</option>
    <option value="10">Renault</option>
    <option value="11">Volkswagen</option>
  </select>

  <br><br>

  <label for="models">Models</label>
  <select name" models" required=true>
    <option selected value="0">Select an option</option>
    <option value="1">Tesla Model X</option>
    <option value="2">Tesla Model 3</option>
    <option value="3">Tesla Model S</option>
    <option value="4">Mercedes eq</option>
    <option value="5">BMW i8</option>
    <option value="6">BMW i3</option>
    <option value="7">Audi e-tron</option>
    <option value="8">Hyundai Kona</option>
    <option value="9">Hyundai Ioniq</option>
    <option value="10">Jaguar I-Pace</option>
    <option value="11">Nissan LEAF</option>
    <option value="11">Opel Ampera-e</option>
  </select>
  <br><br>

  <button><a href="/auth/car">Finish</a></button>

</form>
