
<div class="slider-form">
  <div class="container slider-one-active">
   <div class="slider-ctr">
      <div class="slider">
        <form class="slider-form slider-one">
         <h2>Login</h2>
          <input type="text" class="name" placeholder="User">
          <input type="password" class="password" placeholder="Password">
           <br>
           {{#if message }}<div class="error-message">{{ message }}</div>{{/if}}
          <button class="first next">Next Step</button>
         <p class="account-message">
         If you don't have User
         <a href="/auth/login">Sing up</a>
      </div>
    </div>
  </div>
</div>  
