<h2>Signup Empresita</h2>
 <br><br>
<form action="/auth/signupbussines" method="POST" id="form-container">
  <h3>Register quickly</h3>
  <button><a href="/auth/car">Login whith Google!</a></button>
  <br><br><br><br>

  <label for="username">Email</label>
  <input type="email" name="user_email" placeholder="Add your eMail" required=true>
  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Creat new password" required=true>
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>

  <button><a href="/auth/chargingpoints">GO!</a></button>

    <br><br><br><br>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
  <p class="account-message">
    Register here to take a trip
    <a href="/auth/signup">Sing in here</a>
  </p>

</form>