<section id="signup-page">
  <div class="backgrey">
    <div class="slider-form">
      <div class="box container slider-one-active">
        <div class="steps">
          <div class="step step-one">
            <div class="liner"></div>
            <span>Registro</span>
          </div>
          <div class="step step-two">
            <div class="liner"></div>
            <span>Usuario</span>
          </div>
          <div class="step step-three">
            <div class="liner"></div>
            <span>Car / Point</span>
          </div>

        </div>
        <div class="line">
          <div class="dot-move"></div>
          <div class="dot zero"></div>
          <div class="dot center1"></div>
          <div class="dot full"></div>
        </div>
        <div class="slider-ctr">
          <div class="slider">

            <form action="/auth/signup" method="POST">
              <div class="slider-form slider-one">
                <h2>Regístrate<br>¡Vive la experiencia eléctrica!</h2>
                <input type="text" class="name" name="user" placeholder="Crea nuevo usuario">
                <input type="email" class="email" name="email" placeholder="Añade tu email">
                <input type="password" class="password" name="password" placeholder="Crea una contraseña">
                <br>
                {{#if message }}<div class="error-message">{{ message }}</div>{{/if}}
                <button type="button" class="first next">Seguimos</button>
                <p class="account-message">
                  ¿Registrado?
                  <a href="/move/home">Loguéate</a>
              </div>

              <div class="slider-form slider-two">
                <h2>¿Qué quieres hacer?</h2>
                <div class="label-ctr">
                  <button type="submit" class="second next" type="button">Encuentra</button>
                  <button type="submit" class="third next" type="button">Añade</button>
                  <h2>un punto de carga</h2>
                </div>
              </div>

              <div class="slider-form slider-three">

                <h2>Hola, <span class="yourname"></span></h2>
               
                <select class="selectmodel" name="models"  required=true>
                  <option selected value="0">Selecciona el modelo</option>
                  <option value="Model X">Tesla Model X</option>
                  <option value="Model 3">Tesla Model 3</option>
                  <option value="Model S">Tesla Model S</option>
                  <option value="eq">Mercedes eq</option>
                  <option value="i8">BMW i8</option>
                  <option value="i3">BMW i3</option>
                  <option value="e-tron">Audi e-tron</option>
                  <option value="Kona">Hyundai Kona</option>
                  <option value="Ioniq">Hyundai Ioniq</option>
                  <option value="I-Pace">Jaguar I-Pace</option>
                  <option value="LEAF">Nissan LEAF</option>
                  <option value="Ampera-e">Opel Ampera-e</option>
                </select>
              

                <input type="number" class="name" name="autonomy" placeholder="autonomy">
                <button type="submit" class="reset">Finish</button>
              </div>

              <div class="slider-form slider-four" style="display: none">
                <h2>Hola, <span class="yourname"></span></h2>
                <h2>Add charging points</h2>
                <input type="text" class="name" placeholder="Address">
                <input type="number" class="name" placeholder="Number">
                <input type="number" class="name" placeholder="City">
                <input type="number" class="name" placeholder="Chargingpoints">
                <select name="Power" required=true>
                  <option selected value="0">Power KW</option>
                  <option value="1">Normal 3,7kW</option>
                  <option value="1">Fast 7,3kW</option>
                  <option value="2">Very Fast 50kW</option>
                </select>
                <a type="submit" class="reset" href="">Finish</a>
              </div>

            </form>
          </div>
        </div>
      </div>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascripts/contact.js"></script>
    </div>
  </div>

</section>