
<div class="imgs1">
  <div class="text1">
        <h1 class="textintro">No te quedes sin vivir la experiencia de conducir un coche eléctrico, localiza tu punto de carga más cercano.</h1>
        <button type="submit"class="buttonhome1" href="/auth/signup.hbs">Regístrate</button>
  </div>
</div>
</div>


<div class="imgs2">
    <div class="text2">
      <h1 class="textintro">Haz visible los puntos de carga para llegar a nuevos usuarios.</h1>
      <div>
        <h3 class="textintro">Si eres una empresa,</h3>
        <button type="submit"class="buttonhome2" onclick="href='signup'">Regístrate</button>
      </div>
    
  </div>
</div>

<footer>

</footer>