@font-face {
  font-family:'Nitti';
  src: url('/type/Nitti.woff');

}

.imgSVG {
  height: 3rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
  color: white;
}

.imgSVGcolor {
  height: 5rem;
  margin: 1rem;
  color: white;
}

nav {
  position: fixed;
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.menu {
  margin-right: 1rem;
}

a {
  margin-right: 2rem;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  font-family: Nitti;
}
.textintro, p{
  color: white;
}

h3 {
  font-family: Nitti;
  font-size:1.7rem;
  color: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

h4 {
  font-family: Nitti;
  margin-left: 1rem;
  margin-top: 1rem;
}
p{
  margin:0px;
  padding-top: 15px;
  font-family: Nitti;
  text-align: center;
}


.buttonhome1, .buttonhome2 {
  font-family: Nitti;
  height: 4rem;
  width: 20rem;
  border-radius: 40px;
  margin-top: 2rem;
  font-size: 1.3rem;
}


.imgs1 {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/img1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.text1{
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  
}

.buttonhome1 {
  border: none;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  color: white;
}
.imgs2 {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/img2.jpg);
  background-repeat: no-repeat;
  background-size: 100%
}
.text2{
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 50%;
}


.buttonhome2 {
  border: 2px solid white;
  background: transparent;
  color: white;
}

.imgs3 {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/img3.jpg);
  background-repeat: no-repeat;
  background-size: 100%
}
.text3{
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 60%;
  margin-right: 10%;
}

footer{
  height: 6vh;
  width:100vw;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

/********************Scroll*/
html, body {
  height: 100%;
}

.demo {
  width: 100%;
  display:flex;
  justify-content: center
}

.demo a {
  position: absolute;
  bottom: -20px;;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font-family: Nitti;
  margin-left: -20px;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  margin:0 auto;

}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}